@model ZoekKlantViewModel
@{
    ViewData["Title"] = "Zoekformulier";
}
<h2>Klanten</h2>
<form asp-action="ZoekNaam" method="get">
    <div>
        <label asp-for="Letters"></label>
        <input asp-for="Letters" />
        <span asp-validation-for="Letters" class="text-danger"></span>
    </div> <input type="submit" value="Zoeken" class="btn btn-primary mb-3 mt-2" />
</form>

@if (Model.Klanten != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Straat - Huisnummer</th>
                <th>Postcode</th>
                <th>Gemeente</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model.Klanten)
            {
                <tr>
                    <td>
                        <a asp-action="Klantbevestiging"
                           asp-route-id="@data.Id">@data.Voornaam @data.Familienaam</a>
                    </td>
                    <td>@data.StraatNummer</td>
                    <td>@data.Postcode </td>
                    <td>@data.Gemeente </td>
                </tr>
            }
        </tbody>
    </table>
}